<section id="contact" class="contact">
    <h1>Contact Info</h1>

    <div class="contact-box">

        <p>
            <a href="https://wa.me/916380292586" target="_blank">Phone: +91 6380292586</a>
        </p>

        <p>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=wilsonjerome8940@gmail.com&su=Interior%20Enquiry" target="_blank">
             wilsonjerome8940@gmail.com
            </a>
        </p>

        <p>
            <a href="https://instagram.com/the_joe_interior_designs" target="_blank">
                Instagram
            </a>
        </p>

        <p>SMBS Complex, Trichy</p>

        <iframe
            src="https://www.google.com/maps?q=SMBS+Complex+Trichy&output=embed"
            width="100%" height="250">
        </iframe>

    </div>
</section>



